#body
{
	background-image: "pic.png";
	background-color: blue;
}

.login_div1 , .login_div2
{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
}


#p1 , #p2
{
	display: inline-block;
	margin-left: 7px;
}

#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

#body_bg {
	background-color: blue;
}
